{% extends "base.html" %}
          {% block content %}
          <aside class="main-sidebar">
            <section class="sidebar" style="height: auto;">
              <div class="user-panel">
                <div class="pull-left image">
                  <img src= "" >
                </div>
                <div class="pull-center info">
                  <p>{{oficina.nome}}</p>
                </div>
              </div>
              <ul class="sidebar-menu tree" data-widget="tree">
                <li class="header">MAIN NAVIGATION</li>
                <li class="active treeview menu-open">
                  <a href="#">
                    <i class="fa fa-dashboard"></i> <span>Orçamentos</span>
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                  </a>
                  <ul class="treeview-menu">
                    <li><a href="index.html"><i class="fa fa-circle-o"></i> Atendidos</a></li>
                    <li class="active"><a href="index2.html"><i class="fa fa-circle-o"></i> Rejeitados</a></li>
                  </ul>
                </li>
                <li class="active treeview menu-open">
                    <a href="#">
                      <i class="fa fa-dashboard"></i> <span>Produto</span>
                      <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                      </span>
                    </a>
                    <ul class="treeview-menu">

                      
                      <li><a href="cadastrarProduto"><i class="fa fa-circle-o"></i>Cadastro</a></li>
                    </ul>
                  </li>
                  <li class="active treeview menu-open">
                      <a href="#">
                        <i class="fa fa-dashboard"></i> <span>Reboque</span>
                        <span class="pull-right-container">
                          <i class="fa fa-angle-left pull-right"></i>
                        </span>
                      </a>
                      <ul class="treeview-menu">
                        <li><a href="index.html"><i class="fa fa-circle-o"></i>Atendido</a></li>
                        <li><a href="index.html"><i class="fa fa-circle-o"></i>Rejeitado</a></li>
                      </ul>
                    </li>      
          </aside>
          <div class="content-wrapper" style="min-height: 916px;">
            <section class="content-header"></section>
              <ol class="breadcrumb">
              </ol>
            </section>
            <section class="content">
              <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                  <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="ion ion-ios-gear-outline"></i></span>
        
                    <div class="info-box-content">
                      <span class="info-box-text">Atendidos</span>
                      <span class="info-box-number">{{ oficina.qntOrcamentosAtendidos }}<small></small></span>
                    </div>
                  </div>  
                  <!-- /.info-box -->
                </div>
                <!-- /.col -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                  <div class="info-box">
                    <span class="info-box-icon bg-red"><i class="ion ion-ios-gear-outline"></i></span>
        
                    <div class="info-box-content">
                      <span class="info-box-text">Rejeitados</span>
                      <span class="info-box-number">{{ oficina.qntOrcamentosRejeitados }}<small></small></span>
                    </div>
                  </div>
                </div>
                <div class="clearfix visible-sm-block"></div>
        
                <div class="col-md-3 col-sm-6 col-xs-12">
                  <div class="info-box">
                    <span class="info-box-icon bg-blue"><i class="fa fa-truck"></i></span>
       
                    <div class="info-box-content">
                      <span class="info-box-text">Atendidos</span>
                      <span class="info-box-number">{{ oficina.qntReboquesAtendidos }}<small></small></span>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                  <div class="info-box">
                    <span class="info-box-icon bg-red"><i class="fa fa-truck"></i></span>
        
                    <div class="info-box-content">
                      <span class="info-box-text">Rejeitados</span>
                      <span class="info-box-number">{{ oficina.qntReboquesRejeitados }}<small></small></span>
                    </div>
                  </div>
                </div>
              </div>
                  <div class=".col-xs">
                <div class="col-md-6">
                  <div class="box">
                    <div class="box-header with-border">
                      <h3 class="box-title"> Relatório de Vendas</h3>
                      <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                        <div class="btn-group">
                          <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-wrench"></i></button>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="box-body">
                      <div class="row">
                        <div class="col-md-8">
                          <p class="text-center">
                            <strong>Vendas: 2 Jan, 2019 - 30 Jun, 2019</strong>
                          </p>
                          <div class="chart">
                            <canvas id="salesChart" style="height: 180px; width: 703px;" width="703" height="180"></canvas>
                          </div>
                        </div>
                        <div class="col-md-5">                        
                            <div class="progress-group">
                            <span class="progress-text">Vendas Concluídas</span>
                            <span class="progress-number"><b>310</b>/400</span>
                            <div class="progress sm">
                              <div class="progress-bar progress-bar-blue" style="width: 80%"></div>
                            </div>
                          </div>
                          <div class="progress-group">
                            <div class="progress-group">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="box-footer">
                      <div class="row">
                        <div class="col-sm-3 col-xs-6">
                          <div class="description-block border-right"></div>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                          <div class="description-block border-right">
                          </div>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                          <div class="description-block border-right">
                          </div>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                          <div class="description-block">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
                  <div class="row">
                    <div class="col-md-6">
                      <!-- DIRECT CHAT -->
                      <div class="box box-warning direct-chat direct-chat-warning">
                        <div class="box-header with-border">
                          <h3 class="box-title">Chat</h3>
        
                          <div class="box-tools pull-right">
                            <span data-toggle="tooltip" title="" class="badge bg-yellow" data-original-title="3 Novas Mensagens">3</span>
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="" data-widget="chat-pane-toggle" data-original-title="Contacts">
                              <i class="fa fa-comments"></i></button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
                            </button>
                          </div>
                        </div>
                        <div class="box-body">
                          <div class="direct-chat-messages">
                            <div class="direct-chat-msg">
                              <div class="direct-chat-info clearfix">
                                <span class="direct-chat-name pull-left">Zeca Ciclista</span>
                                <span class="direct-chat-timestamp pull-right">23 Jan 14:00</span>
                              </div>
                              <img class="direct-chat-img" src="static/dist/img/user1-128x128.jpg" alt="message user image">
                              <div class="direct-chat-text">
                                Boa tarde! Gostaria de solicitar um orçamento?
                              </div>
                            </div>
                            <div class="direct-chat-msg right">
                              <div class="direct-chat-info clearfix">
                                <span class="direct-chat-name pull-right">Oficina do João</span>
                                <span class="direct-chat-timestamp pull-left">23 Jan 14:05 </span>
                              </div>
                              <img class="direct-chat-img" src="static/dist/img/user3-128x128.jpg" alt="message user image">

                              <div class="direct-chat-text">
                                Boa tarde! Claro! Em que posso ajudar?
                              </div>
                            </div>
                            <div class="direct-chat-msg">
                              <div class="direct-chat-info clearfix">
                                <span class="direct-chat-name pull-left">Zeca Ciclista</span>
                                <span class="direct-chat-timestamp pull-right">23 Jan 15:37</span>
                              </div>
                              <img class="direct-chat-img" src="static/dist/img/user1-128x128.jpg" alt="message user image">

                              <div class="direct-chat-text">
                                Gostaria de valor para troca de freio e pneu.
                              </div>
                            </div>
                            <div class="direct-chat-msg right">
                              <div class="direct-chat-info clearfix">
                                <span class="direct-chat-name pull-right">Oficina do João</span>
                                <span class="direct-chat-timestamp pull-left">23 Jan 16:10</span>
                              </div>
                              <img class="direct-chat-img" src="static/dist/img/user3-128x128.jpg" alt="message user image">

                              <div class="direct-chat-text">
                                Vamos fazer o levantamento e te passamos os valores.
                              </div>
                            </div>
                          </div>
                          <div class="direct-chat-contacts">
                            <ul class="contacts-list">
                              <li>
                                <a href="#">
                                  <img class="contacts-list-img" src="static/dist/img/user1-128x128.jpg" alt="User Image">
        
                                  <div class="contacts-list-info">
                                        <span class="contacts-list-name">
                                          Zeca Ciclista
                                          <small class="contacts-list-date pull-right">2/28/2015</small>
                                        </span>
                                    <span class="contacts-list-msg">Fico no aguardo</span>
                                  </div>
                                </a>
                              </li>
                              <li>
                                <a href="#">
                                  <img class="contacts-list-img" src="static/dist/img/user7-128x128.jpg" alt="User Image">

                                  <div class="contacts-list-info">
                                        <span class="contacts-list-name">
                                          Sarah 
                                          <small class="contacts-list-date pull-right">2/23/2015</small>
                                        </span>
                                    <span class="contacts-list-msg">Gostaria de saber o prazo de entrega</span>
                                  </div>
                                </a>
                              </li>
                              <li>
                                <a href="#">
                                  <img class="contacts-list-img" src="static/dist/img/user3-128x128.jpg" alt="User Image">
                                  <div class="contacts-list-info">
                                        <span class="contacts-list-name">
                                          Nadia 
                                          <small class="contacts-list-date pull-right">2/20/2015</small>
                                        </span>
                                    <span class="contacts-list-msg">Passarei as 16 para retirar!</span>
                                  </div>
                                </a>
                              </li>
                              <li>
                                <a href="#">
                                  <img class="contacts-list-img" src="static/dist/img/user5-128x128.jpg" alt="User Image">
                                  <div class="contacts-list-info">
                                        <span class="contacts-list-name">
                                          Nora 
                                          <small class="contacts-list-date pull-right">2/10/2015</small>
                                        </span>
                                    <span class="contacts-list-msg">Obrigada! O serviço ficou ótimo.</span>
                                  </div>
                                </a>
                              </li>
                              <li>
                                <a href="#">
                                  <img class="contacts-list-img" src="static/dist/img/user6-128x128.jpg" alt="User Image">
                                  <div class="contacts-list-info">
                                        <span class="contacts-list-name">
                                          José
                                          <small class="contacts-list-date pull-right">1/27/2015</small>
                                        </span>
                                    <span class="contacts-list-msg">Obrigada pelas informações!</span>
                                  </div>
                                </a>
                              </li>
                              <li>
                                <a href="#">
                                  <img class="contacts-list-img" src="static/dist/img/user8-128x128.jpg" alt="User Image">
                                  <div class="contacts-list-info">
                                        <span class="contacts-list-name">
                                          Cassiano
                                          <small class="contacts-list-date pull-right">1/4/2015</small>
                                        </span>
                                    <span class="contacts-list-msg">No aguardo do orçamento.</span>
                                  </div>
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <div class="box-footer">
                          <form action="#" method="post">
                            <div class="input-group">
                              <input type="text" name="message" placeholder="Type Message ..." class="form-control">
                              <span class="input-group-btn">
                                    <button type="button" class="btn btn-warning btn-flat">Enviar</button>
                                  </span>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      </div>
                    </div>
                  </div>
                  <div class="box box-info">
                    <div class="box-header with-border">
                      <h3 class="box-title">Últimas OS</h3>
        
                      <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                      </div>
                    </div>
                    <div class="box-body">
                      <div class="table-responsive">
                        <table class="table no-margin">
                          <thead>
                          <tr>
                            <th>Ordem de Serviço</th>
                            <th>Item</th>
                            <th>Status</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr>
                            <td><a href="pages/examples/invoice.html">OS9842</a></td>
                            <td>Alavanca de câmbio</td>
                            <td><span class="label label-success">Entregue</span></td>
                            <td>
                            </td>
                          </tr>
                          <tr>
                            <td><a href="pages/examples/invoice.html">OS1848</a></td>
                            <td>Manete de freio</td>
                            <td><span class="label label-warning">Pendente</span></td>
                            <td>
                            </td>
                          </tr>
                          <tr>
                            <td><a href="pages/examples/invoice.html">OS7429</a></td>
                            <td>Quadro</td>
                            <td><span class="label label-success">Entregue</span></td>
                            <td>
                            </td>
                          </tr>
                          <tr>
                            <td><a href="pages/examples/invoice.html">OS7429</a></td>
                            <td>Suspensão dianteira</td>
                            <td><span class="label label-info">Processando</span></td>
                            <td>
                            </td>
                          </tr>
                          <tr>
                            <td><a href="pages/examples/invoice.html">OS1848</a></td>
                            <td>Corrente</td>
                            <td><span class="label label-warning">Pendente</span></td>
                            <td>
                            </td>
                          </tr>
                          <tr>
                            <td><a href="pages/examples/invoice.html">OS7429</a></td>
                            <td>Câmbio traseiro</td>
                            <td><span class="label label-success">Entregue</span></td>
                            <td>
                            </td>
                          </tr>
                          <tr>
                            <td><a href="pages/examples/invoice.html">OS9842</a></td>
                            <td>Raio</td>
                            <td><span class="label label-success">Entregue</span></td>
                            <td>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="box-footer clearfix">
                      <a href="javascript:void(0)" class="btn btn-sm btn-info btn-flat pull-left">Incluir nova ordem de serviço</a>
                      <a href="javascript:void(0)" class="btn btn-sm btn-default btn-flat pull-right">Ver todos</a>
                    </div>
                  </div>
                  <div class="box box-info">
                      <div class="box-header with-border">

                        <h3 class="box-title">Produtos adicionados recente</h3>
                        <div class="box-tools pull-right">
                          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                          </button>
                          <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                      </div>
                      <div class="box-body" style="">
                        <div class="table-responsive">
                          <table class="table no-margin">
                            <thead>
                            <tr>
                              <th>Produto adicionado</th>
                              <th>Descrição</th>
                              <th>Valor</th>
                            </tr>
                            </thead>
                            <tbody>
                            
{%for produto in produtos%}
<tr>
  <td>{{produto.nome}}</td>
  <td>{{produto.descricao}}</td>
  <td><span class="label label-success">{{produto.preco}}</span></td>
  <td>
  </td>
</tr>
{%endfor%}

                            ###
                            </tbody>
                          </table>
                        </div>
                      </div>
                      <div class="box-footer clearfix" style="">
                        <a href="javascript:void(0)" class="btn btn-sm btn-info btn-flat pull-left">Incluir novos produtos</a>
                        <a href="javascript:void(0)" class="btn btn-sm btn-default btn-flat pull-right">Excluir</a>
                        <a href="javascript:void(0)" class="btn btn-sm btn-default btn-flat pull-right">Editar</a>
                      </div>
                    </div>
                </div>
              </div>
                </section>
                
              </div>
            </section>
          </div>
          {% endblock %}
         