<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="static/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/bower_components/Ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="static/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="static/dist/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="static/bower_components/morris.js/morris.css">
    <link rel="stylesheet" href="static/bower_components/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="static/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="static/bower_components/bootstrap-daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="static/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css"> 

    <style>
      body {
        background-color: #343E40
      }
    </style>

</head>
<body>

  <section class="content">
    <div class="col-md-4"></div>
    
    <div class="col-md-4">
      <div class="box box-light">
        
        <form role="form" action="/login" method="POST">
          <div class="box-body">
            
            <div class="form-group">
              <label for="email">Email</label>
              <input name="email" value="oficina_maria@hotmail.com" class="form-control" placeholder="Email">
            </div>

            <div class="form-group">
              <label for="senha">Senha</label>
              <input type="password" value="novaSenha" name="senha" class="form-control" placeholder="Senha">
            </div>

          <div class="box-footer">
            <button type="submit" class="btn btn-light">Login</button>
            <button class="btn"><a href="cadastrarOficina">Cadastrar</a></button>
          </div>

        </form>
        
      </div>

    </div>
    
    <div class="col-md-4"></div>

  </section>

</body>
</html>