{% extends "base2.html" %}
{% block content %}

<div class="row">
  
  <div class="col-md-3"></div>


  <div class="col-md-6">
    <div class="col-md-6 teste">
      <div class="info-box">
        <span class="info-box-icon bg-aqua"><i class="ion ion-ios-gear-outline"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">efetuados</span>
          <span class="info-box-number">{{efetuados}}<small></small></span>
        </div>
      </div>  

    </div>

    <div class="col-md-6">
      <div class="info-box">
        <span class="info-box-icon bg-aqua"><i class="ion ion-ios-gear-outline"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">rejeitados</span>
          <span class="info-box-number">{{rejeitados}}<small></small></span>
        </div>
      </div>  

    </div>

    <div class="col-md-6">
      <div class="info-box">
        <span class="info-box-icon bg-aqua"><i class="ion ion-ios-gear-outline"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Total usuários</span>
          <span class="info-box-number">{{usuarios}}<small></small></span>
        </div>
      </div>  

    </div>

    <div class="col-md-6">
      <div class="info-box">
        <span class="info-box-icon bg-aqua"><i class="ion ion-ios-gear-outline"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Total oficinas</span>
          <span class="info-box-number">{{oficinas}}<small></small></span>
        </div>
      </div>  
      
    </div>
  </div>

  <div class="col-md-3"></div>

</div>

{% endblock %}