{% extends "base.html" %}
{% block content %}
<aside class="main-sidebar">
  <section class="sidebar" style="height: auto;">
    <div class="user-panel">
      <div class="pull-left image">
        <img src= "" >
      </div>
      </li>     
</aside>
<div class="content-wrapper" style="min-height: 916px;">
  <section class="content-header"></section>
    <ol class="breadcrumb">
    </ol>
  </section>
  <section class="content">
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
          <span class="info-box-icon bg-aqua"><i class="ion ion-ios-gear-outline"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Atendidos</span>
            <span class="info-box-number">total<small></small></span>
          </div>
        </div>  
        <!-- /.info-box -->
      </div>
      <!-- /.col -->    
              </div>
            </div>
            <div class="box-footer clearfix" style="">
              <a href="javascript:void(0)" class="btn btn-sm btn-info btn-flat pull-left">Incluir novos produtos</a>
              <a href="javascript:void(0)" class="btn btn-sm btn-default btn-flat pull-right">Excluir</a>
              <a href="javascript:void(0)" class="btn btn-sm btn-default btn-flat pull-right">Editar</a>
            </div>
          </div>
      </div>
    </div>
      </section>
      
    </div>
  </section>
</div>
{% endblock %}